<?xml version="1.0" encoding="utf-8"?>
<!-- SettingsProvider 默认值的 RRO（v1.0 BKUP-5 / D13）。为什么是 RRO、为什么放 system_ext：见 Android.bp。 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.providers.settings.gaokun3"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:hasCode="false" />
    <overlay
        android:targetPackage="com.android.providers.settings"
        android:priority="0"
        android:isStatic="true" />
</manifest>
